.container-fluid
{
    background-color: green;
    color: rgb(255, 255, 255);
    position: sticky;
}

.btn
{
    background-color: greenyellow;
    color: green;
}

.btn-primary:hover 
{
    border: green;
}
  
.paddingX
{
    padding:5px;
}

.margin-right
{
    margin: 10px;
}

.margin-left
{
    margin: 2px;
}
