.footer-copyright {
    background-color: green;
}

.container-fluid {
    background-color: green;
}

* {
    color: aliceblue;
}

.padding-ten {
    padding: 10px;
}

.margin-top
{
    margin-top: -10px;
}