<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="https://media.istockphoto.com/id/1003089724/photo/raw-healthy-food-clean-eating-vegetables-source-protein-vegetarians.jpg?s=612x612&w=0&k=20&c=cp5vPh6yMF-fsmQMtWUwFMIATWGvZhUSAU-8K6PichA=" alt="Almond">
    <div class="carousel-caption">
      <h1 class="display-2">Straight from the Nature</h1>
      <h3>Made with high-quality Vegetable and Fruits.</h3>
      <button type="button" class="btn btn-success btn-lg"> ORDER NOW!</button>
    </div>
  </div>
</div>