<div class="container">
    <div>
        <h1 class="heading"> Me shume per ne </h1>
    </div>
    <p id="about" style="line-height: 2;">
        Almond restorant  është një restorant i veçantë me një menu të frymëzuar nga ideja e gatimit të thjeshtë dhe të ndershëm. të rilindur në vitin 2022, ne vazhdojmë të zhvillojmë një përvojë unike ngrënieje për të gjithë mysafirët tanë duke përdorur përbërës të freskët dhe të shijshëm, duke ju çuar në një udhëtim kulinarie si askush tjetër.
        

    <div>
        <h1 class="heading"> Misioni</h1>
    </div>
    <p id="statement" style="line-height: 2;">
        Mirësevini në Restorantin tonë Vegan!

        Ne jemi të përkushtuar për të shërbyer kuzhinën vegane të shijshme, të shëndetshme dhe të qëndrueshme për mjedisin. Menuja jonë përbëhet nga përbërës të freskët, të zgjedhur me kujdes për të ofruar cilësinë dhe shijen më të lartë. Shefat tanë të kuzhinës përdorin kreativitetin dhe pasionin e tyre për të krijuar pjata unike që do të befasojnë dhe kënaqin edhe shijet më të dallueshme.
        
        Restoranti ynë është një hapësirë ​​e ngrohtë dhe mikpritëse, e përkryer për familjet, miqtë ose darkat e vetme. Ne besojmë se të gjithë meritojnë akses në ushqim të shëndetshëm dhe të shijshëm, pavarësisht nga kufizimet dietike apo zgjedhjet e stilit të jetesës. Kjo është arsyeja pse ne ofrojmë një sërë opsionesh që plotësojnë nevoja të ndryshme dietike, duke përfshirë opsionet pa gluten dhe pa arra.
        
        Ne jemi të përkushtuar të zvogëlojmë ndikimin tonë në mjedis dhe të promovojmë qëndrueshmërinë. Ne i marrim përbërësit tanë nga furnizuesit lokalë, organikë dhe të tregtisë së ndershme, kurdoherë që është e mundur, dhe përdorim paketim dhe vegla miqësore me mjedisin.
        
        Shpresojmë që të na bashkoheni për një vakt dhe të përjetoni pasionin tonë për ushqimin vegan. Nëse keni ndonjë pyetje apo shqetësim, ju lutemi mos hezitoni të na kontaktoni.
        
        Faleminderit që zgjodhët Restorantin tonë Vegan!    </p>

</div>